.contact {
  padding-block: var(--section-space--main);

  h2 {
    position: relative;
    color: transparent;
    white-space: nowrap;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-text);
      color: var(--black);
      white-space: nowrap;
    }
  }

  p {
    margin-top: var(--size--4rem);
    max-width: 40ch;
  }

  .button {
    margin-top: var(--size--3rem);
  }
}
