@use "../base/mixin" as *;

.faq {
  background-color: var(--yellow);
  padding-block: var(--section-space--main);

  & > .container {
    display: flex;
    gap: var(--size--3-5rem);
    justify-content: space-between;

    @include media(tablet) {
      flex-direction: column;
      gap: var(--size--5rem);
    }

    @include media(phone) {
      gap: var(--size--4rem);
    }
  }

  .accordion {
    display: flex;
    flex: 0 1 60%;
    flex-direction: column;
    gap: var(--size--2-5rem);

    &-item {
      width: 100%;
      background-color: var(--white);
      padding: var(--size--3rem);

      @include media(tablet) {
        padding: 2rem;
      }

      @include media(phone) {
        padding: 1.25rem;
      }
    }

    &-trigger {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      color: var(--black);
    }

    &-question {
      text-align: left;
    }

    &-icon {
      --stroke-thickness: 0.125rem;
      --size: 3.5rem;

      @include media(phone) {
        --stroke-thickness: 0.1rem;
        --size: 2rem;
      }

      flex: 0 0 var(--size);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      border: var(--stroke-thickness) solid var(--black);
      position: relative;
      display: block;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: var(--stroke-thickness);
        background: var(--black);
        height: calc(var(--size) / 1.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 0.3s ease;
      }

      &:after {
        width: calc(var(--size) / 1.8);
        height: var(--stroke-thickness);
      }
    }

    &-item.active .accordion-icon {
      &:before {
        transform: rotate(-90deg);
      }

      &:after {
        transform: rotate(-180deg);
        opacity: 0;
      }
    }

    &-panel {
      margin-top: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &-item.active .accordion-panel {
      margin-top: var(--size--3rem);
      height: auto;
    }
  }
}
