.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: var(--main-padding);
}

.container-full {
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--main-padding);
}

.marquee {
  position: relative;
  white-space: nowrap;
  transform: translate3d(calc(-25vw * var(--progress)), 0, 0);

  .marquee-text {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
  }
}
